*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   

}
html{
font-size: 62.5%;
}
.body-login{
    height: 100%;
    width: 100%;
    background-image:url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    
} 

.hero1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background:linear-gradient(to right , purple, coral);
    position: relative;    
}
.hero{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background:linear-gradient(to right , purple, coral);
    position: relative;    
}
nav {
    display: flex;
    align-items:center;
    width:100%;
    margin: 2px auto;
    height:auto;
    padding: 5px;
    justify-content:center;
    background:linear-gradient(to right,#2b0496,rgb(247, 247, 97));
    text-align: center;
    flex-direction: column;
    display:inline;
    margin: 15px;
    border-radius:10px;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    color:#fff;
    flex-wrap:nowrap;
    

}
section{
    width: 200px;
    height: 250px;
    background-color:#fff;
}

.logo{
    float: left;
}

.logo{
    width: 120px;
    display: block;
    cursor: pointer;
	margin:2px;
  
}
.logo2{
    width: 120px;
    display: block;
    cursor: pointer;
	margin-bottom:20px;
   margin-left: 98%;
}
.menubar{
    margin-top: 20px;
    
    
}
ul a{
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
   justify-content: center;
    color: rgb(253, 251, 250);   
   text-decoration: none;  
   padding: 3px 20px; 
   transition: all .5 ease-in-out;
   
   
}
nav ul a:hover{
border: 1px solid rgb(250, 247, 246);
border-radius: 30px;
}
.btn{
    text-decoration: none;
    background-image: radial-gradient(whitesmoke, chocolate);
    padding: 7px 9px;
    margin: auto;
    font-size: 22px;
    color: rgb(251, 228, 228);
    border: 1px solid coral;
    border-radius: 30px;
    position: absolute;
    
}
.btn1{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    

}
.btn:hover{
    border: 1px solid coral;
    border-radius: 30px; 
    font-weight: 700;
    background: transparent;
    color: rgb(53, 24, 4);
}
.hero-main{
	
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}
.form-box{
    width: 370px;
    height: 520px;
    position: relative;
    margin: 15px auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 5%;

}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0px 20px 9px #f75d1b1f;
    border-radius: 30px;
    

}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family:16px;
    
}
#btn1{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient( to right, #ff105f,#ffad06);
    border-radius:30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width:30px;
    margin: 0 12px;
    box-shadow: 0 0 20 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient( to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
    }
    textarea{
        width: 100px;
        height: 150px;
    }
    footer{
        text-align: center;
        justify-content: center;
    }
.agree{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
    transition: 0.5s;
}
#register{
    left: 400px;
    transition: 0.5s;
}
.my-pic{
    
    max-width: 370px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 10px;
    position:relative;
}
::placeholder{
    color:#0d0e6d;
    font-size:18px;
}
select{
    font-size: 18px;
}
.ui{
    color:#f54c0a;
}
.or{
    color: rgb(243, 213, 207);
}
.brand{
    background-color:#3a3636;
}
.brands{
    width: 80px;
    margin-right: 40px;
    position: relative;
}
.container-1{
    background-image:url('home_bg.jpg');
    flex-wrap: wrap;
	float:right;
    color: #fff;
	text-align:center;
    line-height: 3rem;
    outline: none;
    line-height: 4.5rem;
    animation:left ;
    transition: 1s;
}
.profile-intro{
    float: left;
    width: 30%px;
    height: auto;
}
.title{
    text-align: center;
    margin: 20px;
	color:rgb(253, 194, 253);
	font-size:45px;
    line-height: 2rem;
}
.sub-title{
    margin-bottom:  1rem;
	color:rgb(131, 223, 180);
    font-size:30px;
}
.container-1 p{
    font-size: 22px;
    text-align: left;
    margin-left:10px;
    color: rgb(196, 247, 217);
}
.main-content{
    background-image: radial-gradient(rgb(156, 245, 203),rgb(243, 211, 115));
    width: 68%;
    height: 100vh;
    width: 100%;
}

.content-1{
    margin-left: 10px;
  
}
.brief{
    font-size: 30px;
    margin-top: 40px;
    color:rgb(235, 188, 171);
}
.certified{
    color:rgb(235, 205, 194);
    font-style: italic;
    font-weight: bold;
}
.main{
    margin-top: 30px;
}
.main-box{
    text-align: center;
    width: 450px;
    margin: 10px auto;
    background: linear-gradient(to right,purple, chocolate);
    height:530px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    border-radius: 1rem;  
   
}
/*  contact form starts here*/
.container-2{
    width: 100vw;
    height: auto;
}

.head{
    font-size: 35px;
    margin-bottom: 20px;
    color:rgb(206, 238, 188);
}
.outer-form {
    background-color: aquamarine;
    font-size: 18px;
    width: 370px;
    height: 420px;
    text-align: center;
    margin-left: 38px; 
    justify-content: center;
   
}
.fields {
    width: 368px;
    line-height: 2.5rem;
    margin: 5px auto;
    padding: 3px;
    color: rgb(9, 114, 114);  
    
}
.input-group1{
    margin-top: -12px;
}
.btn1{
    width: 368px;
    padding: 5px 30px;
    margin-top: 3px;
    height: auto;
    border:1px solid #fff;
    color:#fff;
    
}
.title2{
    text-align: center;
    justify-content: center;
}
.form-box{
margin-top: 10px;
}
.selec{
    font-size: 17px;
    margin-bottom: 20px;
}
.subject{
    margin: 10px auto;
    padding: 6px;
    width: 97%;
   
}
option:hover{
    line-height: 2rem;
    background-color: aquamarine;
}
textarea{
    color: rgb(9, 114, 114);
    width: 360px;
    height: 100px;
}

/*
@media screen and (min-width:700px){ 
    nav{
        background-color:red;
    }
}*/

@media screen and(max-width:500px){
    .container-1 p{
    background-color:#f6f5fd;
    color: rgb(243, 242, 242);
    }
}

@media screen and (max-width:1000px){
    nav{
        background-color: #5d4aff;
        
    }
}


